/* General style */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #FFF5EE;
  opacity: 0.9;
  text-align: center;
}

a {
  color: #FFF5EE;
  text-decoration: underline;
}

.black {
  background-color: #000000;
}

/* Flex style */

.flex-item {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.just-cont {
  justify-content: center;
}

.align {
  align-items: center;
}

/* header */

.header {
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  min-height: 69px;
  border-bottom: 1px solid #FFF5EE;
}

.logo {
  margin: 0 10px;
  height: 50px;
}

.nav {
  justify-content: space-around;
}

span.nav-li {
  margin: 0 13px;
}

/* content */

.content {
  justify-content: space-between;
  position: relative;
  top: 61px;
  left: 0;
  right: 0;
}

/* mission */

.mission-img {
  background-image: url("../images/img-mission-background.jpg");
  max-width: 1200px;
  min-height: 700px;
}

div.mission {
  margin: 0;
  flex-basis: 1200px;
}

.mission h2,
.mission h4 {
  margin: 5px auto;
  padding: 5px 10px;
}

/* featured teas */

div.featured {
  max-width: 1000px;
  padding-top: 60px;
}

div.feat {
  padding: 0 15px;
}

div.feat h4 {
  margin: 0 auto;
  padding-bottom: 20px;
}

div.month {
  width: 100%;
}

div.feat img {
  width: 100%;
  width: 300px;
  height: 200px;
  margin: 10px 0;
}

div.month h4 {
  margin: 15px auto;
  min-width: 200px;
}

div.month h2 {
  margin: 20px auto;
  min-width: 200px;
}

/* locations */

.locations-img {
  background-image: url("../images/img-locations-background.jpg");
  max-width: 1200px;
  min-width: 100px;
  min-height: 500px;
  margin-top: 60px;
}

div.locations-img h2 {
  width: 100%;
  margin: 0 0;
}

div.adress {
  width: 100%;
  margin: 0 90px;
}

div.location {
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  opacity: 1;
}

div.location h3,
div.location span {
  margin: 20px 5px;
}

/* footer */

div.footer {
  position: relative;
  left: 0;
  right: 0;
  top: 61px;
  width: 100%;
  height: 250px;
}

div.contacts {
  min-height: 200px;
}

div.contacts h2 {
  margin: 10px auto;
}

div.contacts h5 {
  margin: 30px auto 0 auto;
}

div.copyright {
  margin: 0 0 10px 20px;
}

div.copyright h5 {
  text-align: left;
  margin: 0;
}
